<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
	<div class="container">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group row">
	
		<label for="customer name" class="col-xs-2 col-form-label">Name</label>
			<div class="col-xs-10">
				<%= f.text_field :customer_name %>
	
	`		</div>
	</div>
	
	<div class="form-group row">
		<label for="Address" class="col-xs-2 col-form-label">Address</label>
			<div class="col-xs-10">
   
				<%= f.text_field :address %>
			</div>
	</div>
   
	<div class="form-group row">
    	<label for="Area" class="col-xs-2 col-form-label">Area</label>
			<div class="col-xs-10">
   
				<%= f.text_field :area %>
				
			</div>
    
	</div>
   
	<div class="form-group row">
		<label for="Phone" class="col-xs-2 col-form-label">Phone</label>
			<div class="col-xs-10">
   
			<%= f.number_field :phone %>
			</div>
	</div>
	
   
	<div class="form-group row">
		<label for="Email" class="col-xs-2 col-form-label">Email</label>
			<div class="col-xs-10">
   
				<%= f.text_field :email %>
			</div>
	</div>
   
	<div class="form-group row">
		<label for="Password" class="col-xs-2 col-form-label">Password</label>
			<div class="col-xs-10">
   
			<%= f.password_field :password %>
			</div>
	</div>
   
	<div class="form-group row">
		<label for="Password Confirmation" class="col-xs-2 col-form-label">Password Confirmation</label>
			<div class="col-xs-10">
   
			<%= f.password_field :password_confirmation %>
			</div>
	</div>
	
	<div class="form-group row">
		<label for="Profile Picture" class="col-xs-2 col-form-label">Profile Picture</label>
			<div class="col-xs-10">
		
		<%= f.file_field :attachment %>
	
	<br>
	</div>
   
   <div class="form-group row">
	<div class="col-xs-10">
    <%= f.submit %>
  </div>

  
  <% end %>
  </div>
