 

<div class="container">
	<h1>Customers</h1>
		<table class = "table table-bordered">
			<thead>
				<tr class="info">
					<td width="5%">
						<th>Profile Picture</th>
						<th>Customer name</th>
						<th>Address</th>
						<th>Area</th>
						<th>Phone</th>
						<th>Email</th>
						
						
      
						<th colspan="3"></th>
				</tr>
			</thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr class="success">
	    <td width="5%">
		<td><%=image_tag(customer.attachment,:size=>"140x100")%></td>
        <td><%= customer.customer_name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.area %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
		
        
		<td></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<h3>
<strong><%= link_to 'New Customer', new_customer_path%></strong>
</h3>