<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_name %><br>
    <%= f.text_field :product_name %>
  </div>
  <div class="field">
    <%= f.label :supplier_id %><br>
    <%= f.collection_select :supplier_id, Supplier.all, :id, :supplier_name %> 
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
<<<<<<< HEAD
 
  <div class="field">
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
  </div>
  
=======
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
>>>>>>> 1e77c868ae87334476b10fa5e04ff50fd0a71ed4
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
