<!DOCTYPE html>
<html>
<head>
  <title>Localfoods</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<<<<<<< HEAD

    
  
  
  </head>
<body>


=======
</head>
<body>
>>>>>>> 1e77c868ae87334476b10fa5e04ff50fd0a71ed4
  
   <div id = "banner">
        <%=image_tag("local_food.jpg",:size=>"140x50")%>
		<%="Food We Love"%>
	
   </div>

  <div id="nav">

     <ul class="nav nav-tabs">
	     <li class = "active"><%=link_to "Home",root_path %></li>
		 <li class = "active"><%=link_to "Products", products_path %></li>
		 <li class = "active"><%=link_to "Supplier", suppliers_path %></li>
		 <li class = "active"><%=link_to "Areas", areas_path %></li>
         <li class = "active"><%=link_to "Customer", customers_path %></li>
<<<<<<< HEAD
		 
		 
		 <% if !signed_in?%>
			<li><%=link_to "Customer Sign In", login_path %></li>
			<li><%= link_to "New Customer?", new_customer_path%></li>
=======
		 <% if !signed_in?%>
			<li><%=link_to "Sign In", login_path %></li>
>>>>>>> 1e77c868ae87334476b10fa5e04ff50fd0a71ed4
		 <% else %>
		    <li>Signed in as: <%=@current_customer.customer_name %> </li><br>
			<li class = "active"><%=Time.now.strftime("%d/%m/%Y %H:%M")%></li>
			<li ><%= link_to "Sign Out", logout_path %></li>
		<%end%>
<<<<<<< HEAD
		<li></li>
		<li>Search our products:<br><%= render '/products/search' %></li>
		
		
		
		
		
	</ul>

	
	
  </div>
  
  <% flash.each do |key, value| %>
	<%= content_tag(:p, value, :class => "flash #(key)") %>
  <% end %>
=======
		
	</ul>

  </div>
>>>>>>> 1e77c868ae87334476b10fa5e04ff50fd0a71ed4

  <%= yield %>

</body>
</html>
